:root {
  --font: Helvetica, Arial, sans-serif;
  --shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 8px;
  --func-btn-light: #7f7b74;
  --func-btn-dark: #5a5549;
  --digit-btn-light: #7f7b74;
  --digit-btn-dark: #000;
  --equals-btn-light: #f7616b;
  --equals-btn-dark: #ef3f4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

button {
  cursor: pointer;
  color: #fff;
  font-family: var(--font);
  font-size: 24px;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: 1px solid;
  box-shadow: var(--shadow);
  min-height: 75px;
  flex: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 32px 16px;
}

.calculator {
  background-color: #d4d4d4;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 16px;
  max-width: 960px;
  width: 100%;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  background: linear-gradient(#f5f5cb, #d8deaa, #f5f5cb);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-size: 56px;
  padding: 8px;
  margin-bottom: 8px;
  min-height: 90px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}

.zero-btn {
  flex: 2;
}

.point-btn {
  max-width: calc(33% - 4px);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 3;
}

.equals-btn {
  max-width: calc(25% - 6px);
  background: linear-gradient(var(--equals-btn-light), var(--equals-btn-dark));
  border-color: var(--equals-btn-dark);
}

.equals-btn:active {
  background: linear-gradient(var(--equals-btn-dark), var(--equals-btn-light));
}

.digit-btn {
  background: linear-gradient(var(--digit-btn-light), var(--digit-btn-dark));
  border-color: var(--digit-btn-dark);
}

.digit-btn:active {
  background: linear-gradient(var(--digit-btn-dark), var(--digit-btn-light));
}

.func-btn {
  background: linear-gradient(var(--func-btn-light), var(--func-btn-dark));
  border-color: var(--func-btn-dark);
}

.func-btn:active {
  background: linear-gradient(var(--func-btn-dark), var(--func-btn-light));
}
